* {
    box-sizing: border-box;
  }
  

@font-face {
  font-family: 'chalkpaintmedium';
  src: url('chalkpaint-webfont.woff2') format('woff2'),
       url('chalkpaint-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

  /* Add a gray background color with some padding */

  body {
    font-family: Arial;
    padding: 20px;
    background-image: url(../img/halloween-party.jpg);   
  }

  h1{
    font-family: chalkpaintmedium;
    font-size: 80px;
    font-weight: bolder;
    color: whitesmoke;
  }
  li .nav-link{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: whitesmoke;
  }
  .menu{
    width: 100%;
    padding-left: 450px;
  
  }
  .fakeimg{
    text-align: center;
    width:100%;
    display:block
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    
    z-index: 3;
  }
  
  .navbar{
    margin-top: -40px;
    flex-wrap: wrap;
  }
     

  a {
    /* padding: 20px;
    margin: 10px; */
    
    font-family: 'Architects Daughter', cursive;
    font-size: 1.7rem;
    
    color:black;
   
  } 
  
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
     margin-bottom: 20px;
     border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
  }
  
  
  /* Clear floats after the columns */
  .rowe:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  /* .container{
    max-width: 1290px;
    margin: 0 auto;
    /* min-height: 100vh; */
    align-content: center;
    background-color:  #343a40;
    background-image: url("public/img/pizza.jpg");     */
    
  }
  .propimage{
    width :100%;
    /* justify-content: center; */
    text-align: center;
  }
  .info{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin :20px 5px 5px 5px;
  }
.inforecette{
  background-color: rgb(195,195,195);
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #000000;
  margin : 5px 5px 5px 0px;
  
}
.ingredient{
  background-color:rgb(195,225,225);
  float: left;
  width: 24%;
  padding-left: 20px;
  min-height:70vh;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #000000;
  margin : 5px 5px 5px 0px;
}
.recette{
  background-color: white;
  float: right;
  width: 74%;
  padding-left: 20px;
  text-align: center;
  min-height:70vh;
  margin : 5px 5px 5px 0px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #000000;
}
.allrecipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fiche{
  width: 550px;
  background-color: white;
  height: 440px;
  /* align-items: flex-end; */
  padding: 20px;
  margin: 10px;
}

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
      margin:30px
    }
     }
     h2{
       color:white;
       font-size: 50px;
       font-family: 'Architects Daughter', cursive;
       text-align: center;
     }
     p{


      
      text-align: center;
      font-family: 'Homenaje', sans-serif;
      font-size: 1.5rem;

    
     
     }
    